*{
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: black;
    font-family: fantasy;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.topo {
    background-color: white;
    padding-left: 10px;
    font-size: 15px;
    padding-left: 20px;
}
.titulo {
    text-align: center;
    font-size: 20px;
}


.botao {
    background-color: white;
    color: black;

}
li{
    list-style: none;
margin-bottom: 15px;
}
li a{
    
    color:red;
   
}
.texto {
    color: white;
    text-align: justify;
}


.grade{
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  

}

.jogos img {

max-width: 100%;
border-radius: 20px;
margin-bottom: 20px;


}   

.jogos {

    padding: 20px;
}

.jogos p {

    color: rgb(255, 255, 255);
padding-left: 110px;
}

.jogos a {

text-decoration: none;
padding-left: 50px;
}


.menu li {

display: flex;
display:inline;
margin-left: 20px;

}


.menu img {

width: 10%;

}

.paragrafo {
    color: white;
    font-size: 60px;
}

.para2 {
    color: white;
    font-size: 30px;
}

 
.rodape a {
    color: azure;
}

.rodape {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
margin-bottom: 100px;
}

.rodape img {
    width: 100%;
    padding-left: 10px;
    
border-radius: 20px;
}

.kd {
margin-bottom: 20px;
margin-top: 20px;
text-align: center;

}


.fi img { 

margin: 0;

}

.rodape p {
text-align: center;
}