*{
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: black;
    font-family: fantasy;
    color: white;
}
.topo {
    background-color: white;
    padding: 2px;
    font-size: 15px;

}
.titulo {
    text-align: center;
    font-size: 20px;
}


.botao {
    background-color: white;
    color: black;

}
li{
    list-style: none;
margin-bottom: 15px;
}
li a{
    
    color:red;
   
}
.texto {
    color: white;
    text-align: justify;
}
.navegação {
    
   
}


.grade{
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 20px;

}

.jogos img {

max-width: 100%;
border-radius: 20px;
display: flex;
margin-bottom: 20px;

}   

.jogos {

    padding: 20px;
}

.jogos p {

    color: rgb(255, 255, 255);
padding-left: 110px;
}

.jogos a {

text-decoration: none;
padding-left: 50px;
}


.menu li {

display: flex;
display:inline;
margin-left: 20px;

}


.menu img {

width: 10%;

}

.paragrafo {
    color: white;
    font-size: 60px;
}

.para2 {
    color: white;
    font-size: 30px;
}

 
.rodape a {
    color: azure;
}

.rodape {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
padding-left: 300px;
margin-bottom: 100px;
}

.rodape img {
    width: 80%;
    padding-left: 20px;
border-radius: 20px;
}

.kd {
margin-bottom: 20px;
margin-top: 20px;
padding-left: 40px;
}

.rodape p {

padding-left: 100px;

}